html, body, #root{
	height: 100%;
    width: 100%;
}
.app {
  /*text-align: center;*/
  background-color: rgba(0, 0, 0, 0.05);
  /*background-color: red;*/
  height: 100%;
  width: 100%;
}

.login-container{
	/*background-color: green;*/
    height: 100%;
    width: 100%;
}

.container{
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.user-container{
	height: 100%;
    width: 100%;
  	background-color: rgba(0, 0, 0, 0.05);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
